@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.main-content {
  padding-top: 80px;
  height: 100vh;
  width: 100%;
}

html, body {
  overflow-y: hidden;
}

* {
  scrollbar-color: #2B9BED #000000;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}